.card {
    border: 0!important;
    max-width: 80vw!important;
}

.gallery {
    max-height: auto;
}

.card img {
    max-width: 100%;
    transition: all .2s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

.borders {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.topSpacer {
    padding-top: 1.5em;
}

@media (min-width: 768px) {
    .borders {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 8em;
        padding-bottom: 8em;
    }
}