.navbar {
    padding: .5rem 1.5rem!important;
    background-color: #ffffff;
    /* position: fixed;
    top: 0; */
    transition: top 0.3s;
}

.nav-link .dark {
    display: none;
}

.nav-link:hover .light,
.nav-link:active .light{
  display: none;
}
.nav-link:hover .dark,
.nav-link:active .dark{
  display: block;
}

a.nav-link {
    width: fit-content!important;
}

.nav-link img {
    width: 70%;
}

@media (min-width: 768px) {
    #contact-drawer {
        flex-direction: row-reverse;
    }
}

@media (max-width: 576px) {
    #contact {
        justify-content: center;
    }
}