.glass {
    /* background styles */
    position: relative;
    background-color: #f4c439;
  
    /* text styles */
    color: #4c1900;
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
  
    border: 1px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px -2px #333;
}
  
.glass:after {
    content: '';
    border-radius: 5px;
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: 50%;
      background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
   
.glass:hover:enabled {
      background: linear-gradient(#f4c439,#f9e077);
}
  
.glass:focus {
    background: linear-gradient(#f4c439,#f9e077);  
}

.glass a {
    text-decoration: none;
    color: #4c1900;
}